
<html>
	<head> <!--Informacoes que nao estao na tela-->

		<title>Onde doar</title>
		

	</head>

	<body> <!--Informacoes que estao na tela-->

		<!--<p>Hi there!</p> paragrafo-->
		<div>
			<h1> <a href="/"> <strong> Onde doar Blog </strong> </a> </h1>
		</div>
		
		<div>
			<h2><em>Ache onde doar qualquer coisa que voce tenha em casa</em></h2>
		</div>

		<div>
			<p>Publicado hoje mesmo</p>
			<h3> <a href=""> Primeiro post </a> </h3>
			<p> Sobre várias instituições aleatórias </p>
		</div>

		<div>
			<p>Publicado hoje depois</p>
			<h3> <a href=""> Segundo Post </a> </h4>
		</div>


	</body>


</html>
